In [1]:
import findspark
findspark.init()
import pyspark

In [2]:
# Import the necessary functions required for Python and Spark SQL.

from pyspark.sql import SparkSession
from pyspark.sql.functions import col,to_date, date_format

In [3]:
spark = SparkSession \
    .builder \
    .appName("Assignment_1") \
    .getOrCreate()

24/02/08 00:03:36 WARN Utils: Your hostname, Smritis-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.29.87 instead (on interface en0)
24/02/08 00:03:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/08 00:03:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# Reading the JSON file from local storage and converting it to a dataframe.
# createOrReplaceTempView() function creates a table name that can be used in spark-sql queries.

importDF= spark.read.json('/Users/apple/Downloads/review-Hawaii_10.json')
importDF.createOrReplaceTempView("RatingsAndReviews")
importDF.show(5)
importDF.count()

+--------------------+-----------------+----+------+----+-----------------+-------------+--------------------+
|             gmap_id|             name|pics|rating|resp|             text|         time|             user_id|
+--------------------+-----------------+----+------+----+-----------------+-------------+--------------------+
|0x7c00159b5b1b1d2...|  manuel grimaldo|NULL|     5|NULL|Great new upgrade|1591839903487|11396541707957662...|
|0x7c00159b5b1b1d2...|     Enrique Lara|NULL|     5|NULL|             NULL|1568059018979|11665581913729333...|
|0x7c00159b5b1b1d2...|Gregory Donaldson|NULL|     5|NULL|             NULL|1594885588335|10083411999455007...|
|0x7c00159b5b1b1d2...|      Brian Baker|NULL|     5|NULL|             NULL|1575951131613|10320721414448209...|
|0x7c00159b5b1b1d2...|            Kam J|NULL|     3|NULL|             NULL|1573076723916|10852617116317257...|
+--------------------+-----------------+----+------+----+-----------------+-------------+--------------------+
only showing top 5 rows

1504347

In [5]:
# A spark-sql query to fetch all records from the dataframe that have the maximum ratings and show the number of records using the count() function

maxRating = spark.sql("Select * from RatingsAndReviews where rating = (Select MAX(rating) from RatingsAndReviews)")
maxRating.show(5)
maxRating.count()

+--------------------+-----------------+----+------+----+-----------------+-------------+--------------------+
|             gmap_id|             name|pics|rating|resp|             text|         time|             user_id|
+--------------------+-----------------+----+------+----+-----------------+-------------+--------------------+
|0x7c00159b5b1b1d2...|  manuel grimaldo|NULL|     5|NULL|Great new upgrade|1591839903487|11396541707957662...|
|0x7c00159b5b1b1d2...|     Enrique Lara|NULL|     5|NULL|             NULL|1568059018979|11665581913729333...|
|0x7c00159b5b1b1d2...|Gregory Donaldson|NULL|     5|NULL|             NULL|1594885588335|10083411999455007...|
|0x7c00159b5b1b1d2...|      Brian Baker|NULL|     5|NULL|             NULL|1575951131613|10320721414448209...|
|0x7c00159b5b1b1d2...|      MONOLITH TV|NULL|     5|NULL|             NULL|1574400673666|11070404066614145...|
+--------------------+-----------------+----+------+----+-----------------+-------------+--------------------+
only showing top 5 rows

887571

In [6]:
#A spark-sql query to fetch all records from the dataframe that have the minimum ratings and show the number of records using the count() function

minRating = spark.sql("Select * from RatingsAndReviews where rating = (Select Min(rating) from RatingsAndReviews)")
minRating.show(5)
minRating.count()

+--------------------+---------------+----+------+----+--------------------+-------------+--------------------+
|             gmap_id|           name|pics|rating|resp|                text|         time|             user_id|
+--------------------+---------------+----+------+----+--------------------+-------------+--------------------+
|0x7c00159b5b1b1d2...|     ethan boam|NULL|     1|NULL|                NULL|1563228631646|10363191684498801...|
|0x7c00159b5b1b1d2...|      Josh Snow|NULL|     1|NULL|                NULL|1577824834047|10899063183166499...|
|0x7c006de89f2d86e...|Jessica Clopton|NULL|     1|NULL|The doctor is ext...|1545530647643|10578670402504864...|
|0x7c006df045b0171...| JILL RODRIGUEZ|NULL|     1|NULL|I went to this pl...|1547454989318|11297488464308832...|
|0x7c006df045b0171...|   Michael Owen|NULL|     1|NULL|              Not me|1597966227689|11692291225446130...|
+--------------------+---------------+----+------+----+--------------------+-------------+--------------------+
only showing top 5 rows

33115

In [7]:
#A spark-sql query to fetch the record with the longest review

longest_review = spark.sql("Select * from RatingsAndReviews where len(text) = (Select MAX(LEN(text)) from RatingsAndReviews)")
longest_review.show()

+--------------------+------------+----+------+----+--------------------+-------------+--------------------+
|             gmap_id|        name|pics|rating|resp|                text|         time|             user_id|
+--------------------+------------+----+------+----+--------------------+-------------+--------------------+
|0x7c006d8a56676d2...|shingo inoue|NULL|     5|NULL|(Translated by Go...|1568471997587|11439924047013601...|
+--------------------+------------+----+------+----+--------------------+-------------+--------------------+

In [12]:
#A spark-sql query to convert the epoch time to date string with mm-dd-yyyy format

dateFormattedDF = spark.sql("SELECT *, date_format(to_date(from_unixtime(floor(time/1000))), 'MM-dd-yyyy') as date FROM RatingsAndReviews").drop("time")
dateFormattedDF.show(5)
dateFormattedDF.count()

+--------------------+-----------------+----+------+----+-----------------+--------------------+----------+
|             gmap_id|             name|pics|rating|resp|             text|             user_id|      date|
+--------------------+-----------------+----+------+----+-----------------+--------------------+----------+
|0x7c00159b5b1b1d2...|  manuel grimaldo|NULL|     5|NULL|Great new upgrade|11396541707957662...|06-11-2020|
|0x7c00159b5b1b1d2...|     Enrique Lara|NULL|     5|NULL|             NULL|11665581913729333...|09-10-2019|
|0x7c00159b5b1b1d2...|Gregory Donaldson|NULL|     5|NULL|             NULL|10083411999455007...|07-16-2020|
|0x7c00159b5b1b1d2...|      Brian Baker|NULL|     5|NULL|             NULL|10320721414448209...|12-10-2019|
|0x7c00159b5b1b1d2...|            Kam J|NULL|     3|NULL|             NULL|10852617116317257...|11-07-2019|
+--------------------+-----------------+----+------+----+-----------------+--------------------+----------+
only showing top 5 rows

1504347

In [9]:
# Writing the dataframe to parquet file

dateFormattedDF.write.parquet("/Users/apple/Downloads/Assignmant_1.parquet")

24/02/08 00:06:02 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [17]:


import matplotlib.pyplot as plt

graphDF = spark.sql("Select rating, count(rating) as rating_count from RatingsAndReviews group by rating order by rating")
graphDF.show(5)

+------+------------+
|rating|rating_count|
+------+------------+
|     1|       33115|
|     2|       37119|
|     3|      157277|
|     4|      389265|
|     5|      887571|
+------+------------+

In [22]:
y_axis = [val.rating for val in graphDF.select('rating').collect()]
x_axis = [val.rating_count for val in graphDF.select('rating_count').collect()]

plt.plot(x_axis, y_axis_val)

plt.ylabel('Ratings')
plt.xlabel('Number of ratings')
plt.title('Rating vs count')

plt.show()